<html>
<head>
    <title>
        Reference Register
    </title>
</head>
<body style="background-color:powderblue;">
    <h1 align=center style="font-family: cursive;"> Register From </h1><hr/><br>
    <form align=center action='{% url 'adduser' %}' method='POST'>{% csrf_token %}
        {% if err %}
       <h4><p style=" color: rgba(255, 60, 0, 0.973); font-family: cursive; ">{{err}}</p></h4>
        {% endif %}
        <br>
        <lable> Name : </lable>
        <input type='text' name='name' placeholder='Enter Full Name' required>
        <br>
        <br>
        <lable> Email : </lable>
        <input type='email' name='email' placeholder='Enter Email' required>
        <br>
        <br>
        <lable> Contact No : </lable>
        <input type='text' name='phone' placeholder='Enter Mobile' maxlength=10 pattern='[0-9]+' required>
        <br>
        <br>
        <lable> Gender : </lable>
        {% comment %} <select name='gender' required>
            <option selected disabled>----Select Any One----</option>
            <option value='m'>Male</option>
            <option value='f'>Female</option>
            <option value='o'>Other</option>
        </select> {% endcomment %}
        <input type='radio' value='m' name='gender'>Male
        <input type='radio' value='f' name='gender'>Female
        <input type='radio' value='o' name='gender'>Other
        <input type='text' name='ref' placeholder='Enter Refered Code' value='{{getcode}}' hidden>
        <br>
        <br>
        <lable> Password : </lable>
        <input type='password' name='Password' placeholder='Enter Password'required>
        <br>
        <br>
        <input type='submit' value='register'>
        <br>
        <br>
        {% if request.session.uname %}
        {% else %}
        <a href='{% url 'Login' %}'>Already have Account</a>
        {% endif %}
    </form>
</body>
</html>